body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding:10px;
} 

.title {
  background: #e3f4ff;
  margin:10px;
  padding:10px;
  font-size: 16px;
  
}

.content {
  background: #e3f4ff;
  padding:10px;
  margin:10px;
  font-size: 14px;
}

.button-container {
  background: #e3f4ff;
  padding:10px;
  text-align:center;
  margin:10px;
}

button {
  display:block;
  background: white;
  text-align:center;
  padding:10px;
  border: 1px solid #eee;
  margin:auto;
}